@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s;
  font-family: outfit;
}

.font-outfit {
  font-family: Outfit !important;
}
.font-playfair {
  font-family: playfair !important;
}
